
    <div id="buttons">
    <input type="text" id="search">
    <input type="text" id="url">
    <br>
      <button id="search-button">search</button>
      <button id="url-button">enter url and get magnet link</button>
    </div>
    <table id="results">
      <thead>
        <tr>
          <th id="title">title</th>
          <th id="link">link</th>
          <th id="favorite">favoriteS</th>
        </tr>
      </thead>
      
    </table>
  

